{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <div class="container-fluid upload-details">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <h6>Paswword Changed!</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="">
                    Your password has been set.
                </div>
                <a href="{% url 'signin' %}">Sign In Here</a>
            </div>
        </div>

</div>


{% endblock content%}