

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <div class="container-fluid upload-details">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <h6>Password Change</h6>
                </div>
            </div>
        </div>

        <form action method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <p>Change your password with new one.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                
                {% comment %} <div class="form-group">
                    <label class="control-label"> {{form.email.label}} <span class="required">*</span></label>
                    <input class="form-control border-form-control" name="{{ form.email.name }}" id="id_{{ form.email.name }}" placeholder="{{ form.email.name }}" type="text">
                </div> {% endcomment %}
                {{ form }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success border-none"> Reset Your Password</button>
            </div>
        </div>

        </form> 

</div>


{% endblock content%}