{% extends "base_site.html" %}
{% load static %}

{% block extra_header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"  />
{% endblock extra_header %}

{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">
        <section class="blog-page section-padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                        <div class="main-title">
                            <div class="btn-group float-right right-action">
                                <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="right-action-link text-gray" href="#">
                                Sort by <i aria-hidden="true" class="fa fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                </div>
                            </div>
                            <h6></h6>
                        </div>
                  </div>
                  <div class="col-md-8">
                     <div class="card blog mb-4">
                        <div class="card-body">
                           <h5 class="card-title text-white">{{ album.name|title }}</h5>
                           <div class="entry-meta">
                              <ul class="tag-info list-inline">
                                 <li class="list-inline-item"><a href="#"><i class="fas fa-calendar"></i> {{ album.adddate|date:'d-b-Y' }} </a></li>
                                 <li class="list-inline-item"><i class="fas fa-folder"></i> <a rel="category tag" href="{% url 'album-category' album.category.slug %}">{{ album.category }}</a></li>
                                 {% comment %} <li class="list-inline-item"><i class="fas fa-tag"></i> <a rel="tag" href="#">envato</a>, <a rel="tag" href="#">sale</a>, <a rel="tag" href="#">shop</a> </li> {% endcomment %}
                                 <li class="list-inline-item"><i class="fas fa-comment"></i> <a href="#comment">{{ album.photocomment_set.all|length}}{% if album.photocomment_set.all|length < 2 %} Comment {% else %} Comments {% endif %}</a></li>
                              </ul>
                            </div>
                           <div class="content-body">                              
                              <div>
                                 <div id="lightgallery" class="row">
                                    {% comment %} {{ photos }} {% endcomment %}
                                    {% for photo in photos %}
                                       <a class="col-md-6 photo-item" data-sub-html=".caption" href="{{ MEDIA_URL }}{{ photo.image}}">
                                          <img class="img-fluid " src="{{ MEDIA_URL }}{{ photo.image}}" />
                                          <div class="caption text-white text-center w-100">{{ photo.caption }}</div>
                                       </a>
                                    {% endfor %}
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card padding-card reviews-card mb-4">
                        <div class="card-body">
                           <h5 class="card-title mb-4">1 Comments</h5>
                           <div class="media mb-4">
                              <img alt="" src="img/s2.png" class="d-flex mr-3 rounded">
                              <div class="media-body">
                                 <h5 class="mt-0">Stave Martin <small>Feb 12, 2018</small> 
                                 </h5>
                                 <p>ini contoh Contoh komen</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card blog">
                        <div class="card-body">
                           <h5 class="card-title mb-4">Leave a Comment</h5>
                           <form name="sentMessage">
                              <div class="row">
                                 <div class="control-group form-group col-lg-6 col-md-6">
                                    <div class="controls">
                                       <label>Your Name <span class="text-danger">*</span></label>
                                       <input type="text" required="" class="form-control">
                                    </div>
                                 </div>
                                 <div class="control-group form-group col-lg-6 col-md-6">
                                    <div class="controls">
                                       <label>Your Email <span class="text-danger">*</span></label>
                                       <input type="email" required="" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <div class="control-group form-group">
                                 <div class="controls">
                                    <label>Review <span class="text-danger">*</span></label>
                                    <textarea class="form-control" cols="100" rows="10"></textarea>
                                 </div>
                              </div>
                              <button class="btn btn-danger" type="submit">Post Comment</button>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card sidebar-card mb-4">
                        <div class="card-body">
                           <div class="input-group">
                              <input type="text" placeholder="Search For" class="form-control">
                              <div class="input-group-append">
                                 <button type="button" class="btn btn-secondary">Search <i class="fas fa-arrow-right"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>

                    <div class="card sidebar-card mb-4">
                        <div class="card-body">
                        <h5 class="card-title mb-3">Category</h5>
                        <ul class="sidebar-card-list">
                            {% for cat in albums_cat %}
                            <li><a href="#"><i class="fas fa-chevron-right"></i> {{cat.name}}</a></li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>

                     <div class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Random Album</h5>
                            {% for  rd in random_album  %}
                                <a href="{% url 'album-photo' rd.id %}">
                                    <h6>{{ rd.name }}</h6>
                                </a>
                                <p class="mb-0"><i class="fas fa-calendar-text"></i> {{ rd.adddate|date:'b d, Y' }}</p>
                                <hr>
                                
                           {% endfor %}
                        </div>
                     </div>
                  </div>

                  <footer class="entry-footer mt-3">
                     <div class="blog-post-tags">
                        <ul class="list-inline">
                           <li class="list-inline-item"><i class="fas fa-tag"></i> Tags: </li>
                           {% for tag in album.albumtag_set.all %}
                              <li class="list-inline-item"><a rel="tag" href="{% url 'album-tag' tag.id %}">{{tag.tag}}</a> </li>
                           {% endfor %}   
                        </ul>
                     </div>
                  </footer>
               </div>
            </div>
         </section>
    </div>
</div>

{% endblock %}

{% block extra_footer %}

    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js" ></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                thumbnail:true,
                subHtmlSelectorRelative: true,
            }); 
        });
    </script>

{% endblock extra_footer %}