{% extends "base_site.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <div class="container-fluid">
        <section class="blog-page section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title">
                            <div class="btn-group float-right right-action">
                                <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="right-action-link text-gray" href="#">
                                Sort by <i aria-hidden="true" class="fa fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                    <a href="#" class="dropdown-item"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                    <a href="#" class="dropdown-item"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                </div>
                            </div>
                            <h6>Story Page</h6>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card blog mb-4">
                            <div class="blog-header">  
                                <img class="card-img-top" src="{{ MEDIA_URL }}{{ story.thumb }}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="card-title h3 text-white">{{ story.title|title }}</h2>
                            <div class="entry-meta">
                                <ul class="tag-info list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fas fa-calendar"></i> {{ story.adddate|date:' b d, Y' }} </a></li>
                                    <li class="list-inline-item"><i class="fas fa-folder"></i> <a rel="category tag" href="{% url 'story-category' story.category.slug  %}"> {{ story.category }} </a></li>
                                    <li class="list-inline-item"><i class="fas fa-comment"></i> <a href="#comment">{{ story.storycomment_set.all|length}}{% if story.storycomment_set.all|length < 2 %} Comment {% else %} Comments {% endif %}</a></li>
                                </ul>
                            </div>
                            <div class="mt-5 entry-content">
                                {{ story.content|safe }}
                            </div>
                            </div>
                        </div>

                        <div id="comment" class="card padding-card reviews-card mb-4">
                            <div class="card-body">

                                <h5 class="card-title mb-4"> 
                                {{ story.storycomment_set.all|length}}{% if story.storycomment_set.all|length < 2 %} Comment {% else %} Comments {% endif %}
                                </h5>

                                {% for comment in story.storycomment_set.all %}
                                    <div class="media mb-4">
                                        <img alt="" src="/media/images/user.png" class="d-flex mr-3 rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0"> {{ comment.uid }} <small> {{ comment.addtime | date:' b d, Y'| title}} </small></h5>
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    
                        <div class="card blog">
                            <div class="card-body">
                            {% if request.user.is_authenticated %}
                                <div class="mb-2" >
                                    <h5 class="card-title d-inline-block">Leave a Comment</h5>
                                    <span class="ml-1 d-inline-block"> ( as {{request.user}} )</span>
                                </div>

                                <form method="post"> 
                                    {% csrf_token %}
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Comment <span class="text-danger">*</span></label>
                                            <textarea name="comment" id="id_comment" class="form-control bg-dark" cols="100" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger" type="submit">Post Comment</button>
                                </form>

                            {% else %}
                                <div class="mb-2" >
                                    <h5 class="card-title d-inline-block">Login to Comment</h5>                     
                                </div>
                            {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card sidebar-card mb-4">
                            <div class="card-body">
                            <div class="input-group">
                                <input type="text" placeholder="Search For" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">Search <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="card sidebar-card mb-4">
                            <div class="card-body">
                            <h5 class="card-title mb-3">Categories</h5>
                            <ul class="sidebar-card-list">
                                {% for cat in story_cat %}
                                    <li><a href="#"><i class="fas fa-chevron-right"></i> {{ cat.name }} </a></li>
                                {% endfor %}
                            </ul>
                            </div>
                        </div>

                        <div class="card sidebar-card mb-4">
                            <div class="card-body">
                            <h5 class="card-title mb-4">Sugested Story</h5>
                            {% for rd in random_story %}
                            <a href="{% url 'story-detail' rd.id %}">
                                <h6>{{ rd.title }}</h6>
                            </a>
                            <p class="mb-0"><i class="fas fa-calendar-text"></i> {{ rd.adddate|date:'b d, Y' }}</p>
                            <hr>
                            {% endfor %}
                            
                        </div>

                        <div class="card sidebar-card mb-4">
                            <div class="card-body">
                            <h5 class="card-title mb-4">Newsletter</h5>
                            <div class="input-group">
                                <input type="text" placeholder="Your email address" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">Sign up <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}