{% extends "base_site.html" %}
{% load static %}
{% block content %}

<div id="content-wrapper">

    <div class="container-fluid upload-details">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-title">
                        <h6>Upload Details (Albums)</h6>
                        </div>
                    </div>
                </div>

                <form id="uploadForm" class="osahan-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="title">Album Name</label>
                                <input type="text" placeholder="Set your album name." id="name" name="name" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="description">Tags</label>
                                <input type="text" placeholder="each tag seperate with comma" id="tags" name="tags" class="form-control">                                
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" name="category" class="custom-select">
                                    {{ ac_list }}
                                    {% for a_category in ac_list %}
                                    <option value="{{ a_category.pk }}">{{ a_category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="picture-form-group">
                                <div class="form-group">
                                    <label for="pic_1">Choose Picture</label>                            
                                    <input type="file" class="form-control-file" id="pic_1" name="pic_1" required>
                                    <label class="mt-2" for="pic_cap_1">Caption</label>                            
                                    <input type="text" placeholder="caption for this picture" id="pic_cap_1" name="pic_cap_1" class="form-control">                                
                                </div>
                            </div>
                            <div class="form-group">                        
                                <div id="add-picture" class="btn btn-outline-warning">Add another picture</div>
                                <input type='hidden' id='sum_pic' name='sum_pic' value='1'>
                            </div>
                        </div>
                    </div>

                    <div class="osahan-area text-right mt-3">
                        <button type="submit" class="btn btn-outline-primary">Save Album</button>
                    </div>

                    <label for="progress">Progress ...</label>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock content %}

{% block extra_footer %}
<script>
$(document).on('submit', '#uploadForm',function(e){
    e.preventDefault();

    //var formData = new FormData($('uploadForm')[0]);
    var formData = new FormData($(this)[0]);
    $.ajax({
        xhr : function() {
            var xhr = new window.XMLHttpRequest();

            xhr.upload.addEventListener('progress', function(e) {
                if (e.lengthComputable) {
                    
                    console.log('Bytes Loaded: ' + e.loaded);
                    console.log('Total Size: ' + e.total);
                    console.log('Percentage Uploaded: ' + (e.loaded / e.total))

                    var percent = Math.round((e.loaded / e.total) * 100);

                    $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                }
            });

            return xhr;
        },
        type:'POST',
        url:'{% url "upload-picture" %}',
        data : formData,
        processData : false,
        contentType : false,
        success : function(data) {
            alert('File uploaded!');
            $("#uploadForm")[0].reset();
            $('#progressBar').attr('aria-valuenow', 0).css('width', 0 + '%').text(0 + '%');
        }     
    });
    //return false;
});
</script>
{% endblock extra_footer %}