{% extends "base_site.html" %}
{% load static %}

{% block extra_header %}

<link rel="stylesheet" href="{% static 'assets/css/fluidplayer.min.css' %}" type="text/css"/>
<script src="{% static 'assets/js/fluidplayer.min.js' %}"></script>

{% endblock extra_header %}

{% block content %}

<div id="content-wrapper">
    <div class="container-fluid pb-0">
        <div class="video-block section-padding">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-video-left">
                        <div class="single-video">
                            <video id="video-id"> <source src="{{ MEDIA_URL }}{{video.videofile}}"  type="video/mp4"/> </video>
                        </div>
                        <div class="single-video-title box mb-3">
                            <h2>
                                {{ video.title }}
                            </h2>

                            <div class="row">

                                <div class="col-6">
                                    <p class="mb-0"> 
                                        <span class="text-white" > <a href="#">{{ video.uid }}</a> </span>
                                        <i class="fas fa-eye"></i> {{ video.viewnumber }} views
                                    </p>
                                </div>

                                <div class="col-6 text-right">
                                
                                    <div class="ml-3 d-inline-block">
                                        {% if user.is_authenticated %}
                                            {% if blike == 1 %}
                                                <a id="likes" data-vidid="{{video.id}}" class="video-meta-button like-video">
                                                    <i class="far fa-thumbs-up"></i>
                                                    <span><strong id="like_count">{{ video.likes }}</strong></span>
                                                </a>
                                            {% else %}
                                                <a href="#" id="likes" data-vidid="{{video.id}}" class="video-meta-button like-video">
                                                    <i class="far fa-thumbs-up"></i>
                                                    <span><strong id="like_count">{{ video.likes }}</strong></span>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a id="likes" data-vidid="{{video.id}}" class="video-meta-button like-video">
                                                <i class="far fa-thumbs-up"></i>
                                                <span><strong id="like_count">{{ video.likes }}</strong></span>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="ml-3 d-inline-block">
                                        {% if user.is_authenticated %}
                                            {% if bdislike == 1 %}
                                                <a id="dislikes" data-vidid="{{video.id}}" class="video-meta-button dislike-video">
                                                    <i class="far fa-thumbs-down"></i>
                                                    <span><strong id="dislike_count">{{ video.dislikes }}</strong></span>
                                                </a>
                                            {% else %}
                                                <a href="#" id="dislikes" data-vidid="{{video.id}}" class="video-meta-button dislike-video">
                                                    <i class="far fa-thumbs-down"></i>
                                                    <span><strong id="dislike_count">{{ video.dislikes }}</strong></span>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a id="dislikes" data-vidid="{{video.id}}" class="video-meta-button dislike-video">
                                                <i class="far fa-thumbs-down"></i>
                                                <span><strong id="dislike_count">{{ video.dislikes }}</strong></span>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="ml-3 d-inline-block">
                                            <a href="#" class="video-meta-button share-video">
                                                <i class="fas fa-share"></i>
                                                <span>SHARE</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                        <div class="single-video-info-content box mb-3">
                            <h6>Description :</h6>
                            <p>{{ video.description }}</p>
                            <h6>Category :</h6>
                            <p><a href="#">{{ video.category }}</a></p>
                            
                            <h6>Tags :</h6>
                            <p class="tags mb-0">
                                <span><a href="#">{{video.tags}}</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">


                <div class="single-video-right">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-title">
                                <div class="btn-group float-right right-action">
                                    <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                                    </div>
                                </div>
                                <h6>Up Next</h6>
                            </div>
                        </div>
                        <div class="col-md-12 sdb">
                            {% for vid in random_video %}

                                <div class="video-card video-card-list">
                                    <div class="video-card-image">
                                        <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                                        <a href="{% url 'video-page' vid.id %}"><img class="img-fluid" src="{{ vid.thumb_url }}" alt=""></a>
                                        <div class="time">{{ vid.duration }}</div>
                                    </div>
                                    <div class="video-card-body">
                                        <div class="video-title">
                                            <a href="{% url 'video-page' vid.id %}">{{ vid.title }}</a>
                                        </div>
                                        <div class="video-page text-success">
                                            {{ vid.category }}  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                                        </div>
                                        <div class="video-view">
                                             {{ vid.viewnumber }} views &nbsp;<i class="fas fa-calendar-alt"></i> {{ vid.adddate|date:' b d'  }}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                           
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content modal-share">
        <div class="modal-header">
          <h6 class="modal-title">Share this post</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
            <div>
                <a href='#' class="sharer d-inline-block" data-sharer="weibo" data-url="{{ request.build_absolute_uri }} ">
                    <i class="fab fa-weibo"></i>
                </a>
                <a href='#' class="sharer d-inline-block" data-sharer="renren" data-url="{{ request.build_absolute_uri }} ">
                    <i class="fab fa-renren"></i>
                </a>
                <a href='#' class="sharer d-inline-block" data-sharer="line" data-url="{{ request.build_absolute_uri }} ">
                    <i class="fab fa-line"></i>
                </a>
                <a href='#' class="sharer d-inline-block" data-sharer="telegram" data-url="{{ request.build_absolute_uri }} ">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href='#' class="sharer button-copy d-inline-block" onclick="copyText()">
                    <i class="fas fa-copy"></i>
                </a>
            </div>
            <div class="mt-2">
                <input onclick="copyText()" class="d-inline-block" style="background: #333333;border: #ffffff;color: #ffffff;width: 100%;padding: 10px;" type="text" value="{{ request.build_absolute_uri }}" id="CopyLinkShare">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
{% endblock content %}


{% block extra_footer %}
<script>

var myplayer = fluidPlayer(
    'video-id',
        {
            layoutControls: {
                primaryColor: "#ff7f52",
                playbackRateEnabled: true,
                allowTheatre: false,
            }
        }
    ); 
    $('#fluid_video_wrapper_video-id').css({'width':'100%','height':'100%'});

    function copyText() {
        var copyText = document.getElementById("CopyLinkShare");
        copyText.select();
        document.execCommand("copy");
        $('<div class="ml-2 d-inline-block text-success"> Copied!</div>').insertAfter('.button-copy').delay(1000).hide();
    }
</script>

<script>
    $('#likes').click(function(e){
        e.preventDefault();
        $('#likes').unbind("click");
        var vid_id;
        vid_id = $(this).attr("data-vidid");
        $.get('/videolikes/', {video_id: vid_id}, function(data){
                $('#like_count').html(data);
                //$('#likes').attr('disabled', false);
                //$('#likes').hide();
        });
    });

    $('#dislikes').click(function(e){
        e.preventDefault();
        $('#dislikes').unbind("click");
        var vid_id;
        vid_id = $(this).attr("data-vidid");
        $.get('/videodislikes/', {video_id: vid_id}, function(data){
                $('#dislike_count').html(data);
                //$('#likes').attr('disabled', false);
                //$('#likes').hide();
        });
    });
</script>
    

{% endblock extra_footer %}